.form-range {
    width: 100%;
    height: 2px;
    padding: 0; // Need to reset padding
    background-color: #F3F3F4;
    appearance: none;
    cursor: pointer;

    &:focus {
        outline: none;

        // Pseudo-elements must be split across multiple rulesets to have an effect.
        // No box-shadow() mixin for focus accessibility.
        &::-webkit-slider-thumb {
            box-shadow: none;
        }

        &::-moz-range-thumb {
            box-shadow: none;
        }

        &::-ms-thumb {
            box-shadow: none;
        }
    }

    &::-moz-focus-outer {
        border: 0;
    }

    &::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        margin-top: 5px; // Webkit specific
        background: #FF9514;
        border: none;
        border-radius: 50%;
        appearance: none;

        &:active {}
    }

    // &::-webkit-slider-runnable-track {
    //     width: $form-range-track-width;
    //     height: $form-range-track-height;
    //     color: transparent; // Why?
    //     cursor: $form-range-track-cursor;
    //     background-color: $form-range-track-bg;
    //     border-color: transparent;
    //     @include border-radius($form-range-track-border-radius);
    //     @include box-shadow($form-range-track-box-shadow);
    // }

    // &::-moz-range-thumb {
    //     width: $form-range-thumb-width;
    //     height: $form-range-thumb-height;
    //     @include gradient-bg($form-range-thumb-bg);
    //     border: $form-range-thumb-border;
    //     @include border-radius($form-range-thumb-border-radius);
    //     @include box-shadow($form-range-thumb-box-shadow);
    //     @include transition($form-range-thumb-transition);
    //     appearance: none;

    //     &:active {
    //         @include gradient-bg($form-range-thumb-active-bg);
    //     }
    // }

    // &::-moz-range-track {
    //     width: $form-range-track-width;
    //     height: $form-range-track-height;
    //     color: transparent;
    //     cursor: $form-range-track-cursor;
    //     background-color: $form-range-track-bg;
    //     border-color: transparent; // Firefox specific?
    // }

    &::-ms-thumb {
        width: 200px;
        height: 10px;
        margin-top: 0; // Edge specific
        // Workaround that overflowed box-shadow is hidden.
        background-color: red;
        border: 1px solid green;
        appearance: none;

        &:active {}
    }

    &::-ms-track {
        width: 200px;
        height: 10px;
        color: transparent;
        cursor: pointer;
        background-color: transparent;
        border-color: transparent;
        border-width: 5px;
    }

    &::-ms-fill-lower {
        background-color: red;
        border-radius: 8px;
    }

    &::-ms-fill-upper {
        margin-right: 15px; // arbitrary?
        background-color: red;
        border-radius: 8px;
    }

    &:disabled {
        pointer-events: none;

        &::-webkit-slider-thumb {
            // background-color: $form-range-thumb-disabled-bg;
        }

        &::-moz-range-thumb {
            // background-color: $form-range-thumb-disabled-bg;
        }

        &::-ms-thumb {
            // background-color: $form-range-thumb-disabled-bg;
        }
    }
}


.track {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #FF9514;
    z-index: 99;
    height: 2px;
    width: 0px;
    pointer-events: none;
    border: none;
    left: 0;
}

.input-range-wrapper {
    position: relative;
    display: flex;
}